[Unit]
Description=Docker Container %I
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/dockerd  --config-file=/etc/docker/daemon.json
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=default.target
